

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover, a:active {
    color: #d4b44c;
}
a {
    font-size: 24px;
    color: #EF5839;
    text-decoration: underline dotted;
}
