:root {
    /* colors */
    --color-ocean-blue: #4D96A9;
    --color-lavender: #855FB1;
    --color-deep-blue: #28283D;
    --color-light-grey: #87879D;
    --color-sky-blue: #8FE3F9;
    --color-light-purple: #D9B8FF;
    --color-white: #FAFAFA;

    --border-radius: 8px;

    /* custom font scale */
    --step-0-H1: clamp(2.5rem, 1.9718rem + 2.2535vi, 4rem);
    --step-0-H2: clamp(2rem, 1.8239rem + 0.7512vi, 2.5rem);
    --step-0-P: clamp(1rem, 0.956rem + 0.1878vi, 1.125rem);
    /* space scale  */
    /* Space s: 44px → 64px */
    --space-s-H1: clamp(44px, 36.9577px + 1.8779vi, 64px);
    /* Space s: 36px → 44px */
    --space-s-H2: clamp(36px, 33.1831px + 0.7512vi, 44px);
    /* Space m: 23px → 26px */
    --space-m-P: clamp(23px, 21.9437px + 0.2817vi, 26px);
    /* Space s: 24px → 165px */
    --space-s-image-gallery-padding: clamp(24px, -25.6479px + 13.2394vi, 165px);
    /* Space s: 151px → 255px */
    --space-s-image-width: clamp(151px, 114.3803px + 9.7653vi, 255px);
    /* Space s: 143px → 242px */
    --space-s-image-height: clamp(143px, 108.1408px + 9.2958vi, 242px);
    /* Space l-m: 11px → 30px */
    --space-l-m-image-gallery-gap: clamp(11px, 4.3099px + 1.784vi, 30px);
    /* Space xs: 5px → 25px */
    --space-xs-mobile-image-gap: clamp(5px, -5.7143px + 7.1429vi, 25px);
    /* Space s: 16px → 32px */
    --space-header-content-gap: clamp(16px, 10.3662px + 1.5023vi, 32px);
    /* Space s: 48px → 64px */
    --space-image-gallery-margin-block: clamp(48px, 42.3662px + 1.5023vi, 64px);
    /* Space s: 64px → 84px */
    --space-content-margin-bottom: clamp(64px, 56.9577px + 1.8779vi, 84px);
}

/* Global CSS */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--color-white);
}
h1 {
    font-size:  var(--step-0-H1); /* 64px-40 */ 
    line-height: var(--space-s-H1); /* 64px-44 */
    font-weight: 900;
}
h2 {
    font-size: var(--step-0-H2); /* 40px-32 */
    line-height: var(--space-s-H2); /* 44px-36 */
    font-weight: 800;
}
p {
    font-size: var(--step-0-P); /* 18px-16 */
    line-height: var(--space-m-P); /* 26px-26 */
    color: var(--color-light-grey);
    font-weight: 500;
}
span {
    color: var(--color-light-grey);
    font-weight: 900;
}
footer {
    margin-top: -28px;
    position: relative;
    z-index: 1;
}

/* Blocks */

/* HEADER SECTION */
.logo {
    margin-block: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sm-hero-image {
    display: none;
}
.header-wrapper {
    display: flex; 
    align-items: center; 
    justify-content: space-between;  
    height: 358px; 
}
.header-wrapper > figure:first-child {
    align-self: flex-start;
}
.hero-content {
    text-align: center;  
    max-width: 45ch; 
    gap: var(--space-header-content-gap); /* 32px - 16 */
}
.btn-wrapper {
    display: flex;
    gap: 1em;
}

.download-btn, .info-btn, .footer-btn{
    height: 58px;
    border: none;
    border-radius: 50px;
    color: var(--color-white);
    font-weight: 600; 
}

.download-btn{
    width: 193px;
    background: var(--color-ocean-blue)
}
.download-btn > span {
    color: var(--color-sky-blue);
}
.info-btn{
    width: 139px;
    background: var(--color-lavender)
}
.footer-btn{
    width: 193px;
    background: var(--color-lavender)
}
.footer-btn > span {
    color: var(--color-light-purple);
}
/* btn hovers */
.download-btn:hover {
    cursor: pointer;
    background: #71C0D4;
}
.info-btn:hover, .footer-btn:hover {
    cursor: pointer;
    background: #B18BDD;
}

/* IMAGE GALLERY SECTION */
.image-gallery {
    margin-block: var(--space-image-gallery-margin-block);
    width: 100%;
    padding-inline: var(--space-s-image-gallery-padding);
}
.image-gallery figure {
    gap: var(--space-l-m-image-gallery-gap);
}
.image-gallery img {
    width: 23%;
    height: auto;
    border-radius: var(--border-radius);
}

/* CONTENT SECTION */
.overline {
    font-size: 16px; /* 16 */
    line-height: 26px; /* 26 */
    text-transform: uppercase;
    letter-spacing: 4px; /* 4 */
    color: var(--color-ocean-blue);
    font-weight: 800;
}

.content {
    text-align: center; 
    margin-bottom: var(--space-content-margin-bottom);   
}
.content > h2 {
    max-width: 20ch;
    margin-block: 16px; 
}
.content > p:last-child {
    max-width: 40ch;
}

/* FOOTER SECTION */
.footer-img img{
    width: 100%;
    height: 308px; /* 308px - 540 */
}
.footer-content {
    position: absolute; /* Position the content absolutely within the footer */
    top: 0; /* Align to the top of the footer */
    left: 0; /* Align to the left of the footer */
    width: 100%; /* Stretch the content across the entire footer */
    height: 100%; /* Stretch the content to cover the full height of the image */
    color: var(--color-white);
    background: rgba(77, 150, 168, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.footer-content > p {
    color: var(--color-white);
    max-width: 30ch;
}
/* Compositions */

/* Utilities */
.wrapper {
    margin-inline: auto;
    padding-block: 5em 0;
}
.flow > * + * {
    margin-top: var(--flow-space, 1em);
}  
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.v-line {
    border: 1px solid rgba(135, 135, 157, 0.3); 
    width: 1px; 
    height: 84px;
}
.circle {
    border: 1px solid rgba(135, 135, 157, 0.3); 
    background-color: var(--color-white);
    width: 56px; 
    height: 56px; 
    border-radius: 50%;    
}

/* Media Queries */
/* tablet */
@media (max-width: 768px) {
    .sm-hero-image {
        display: flex;
        justify-content: center;
        margin-inline: -30px;
    }
    .header-wrapper {
        justify-content: center;
    }
    .header-wrapper > figure {
        display: none;
    }

    .content > p:last-child {
        max-width: 55ch;
    }
    .footer-img img{
        height: 428px; /* 308px - 428 */
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 1.5em;
    } 
    .footer-content > p {
        max-width: 48ch;
    }   
}
/* mobile */
@media (max-width: 430px) {
    .hero-content > p {
        max-width: 30ch;
    }

    .btn-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content > p:last-child {
        max-width: 30ch;
    }
    
    .image-gallery > figure {
        display: grid;
        grid-template-columns: repeat(2, 143px);
        gap: var(--space-xs-mobile-image-gap);
    }

    .image-gallery img {
        width: 151px;
        height: 143px;  
    }
    .footer-content > p {
        max-width: 20ch;
    }
}
