:root {
    /* Primary colors */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
  
    /* Neutral colors */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* Font families */
    --font-montserrat: 'Montserrat', sans-serif;
    --font-fraunces: 'Fraunces', serif;
  }
  
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--cream);
}

main {
    width: 600px;
    height: 457px;
    border-radius: 10px;
    display: flex;
}

p {
    font-size: 14px;
    color: var(--dark-grayish-blue);
}

#leftCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

#rightCard {
    background: var(--white);
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

#innerCard {
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px; */
    
}

#innerCard * {
    width: 100%;
}

#label {
    margin:0;
    font-family: var(--font-montserrat);
    letter-spacing: 4px;
    font-size: 12px;
    align-self: flex-start;
}

#innerCard h1 {
    font-family: var(--font-fraunces);
    font-weight: 700;
    color: var(--very-dark-blue);
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
}

#description {
    margin: 0;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 14px;
}

#price-component {
    display: flex;
    align-items: center;
}

#price-component * {
    margin: 0;
}

#price-component h2 {
    font-family: var(--font-fraunces);
    font-weight: 700;
    font-size: 32px;
    color: var(--dark-cyan);
}

#price-component h3 {
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 13px;
    color: var(--dark-grayish-blue);
    margin-left: 10px;
    text-decoration: line-through;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--dark-cyan);
    color: var(--white);
    cursor: pointer;
    height: 48.75px;
    gap: 10px;
}

button:hover {
    background: #1A4032;
}

button img {
    flex-basis: 14px; 
}

footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: var(--dark-cyan);
    font-family: var(--font-fraunces);
}

@media (max-width: 700px) {
    main {
        width: 90%;
    }
}

@media (max-width: 500px) {
    body {
        margin: 30px 0 0 0;
        justify-content: flex-start;
    }
    main {
        width: 343px;
        height: 611px;
        flex-direction: column;
    }
    #innerCard {
        width: 86%;
    }
    #leftCard img {
        border-radius: 10px 10px 0 0;
    }
    #rightCard {
        border-radius: 0 0 10px 10px;
    }
}